@import "defnblock.css";
body {
    background-image: url('png/tactile_noise.png');
    background-repeat: repeat;
  }
  
  h1 {
    color: black;
    text-align: center;
    font-size: 5vh;
  }

  h2 {
    color: black;
    text-align: center;
    font-size: 3vh;
  }

  h3 {
    color: black;
    text-align: center;
    font-size: 2vh;
  }

  .buffer{
    height: 4em;
  }

  .post-con{
    height: 50em;
    background-color: red;
    opacity: 50%;
    width: 80%;
    margin: auto;
    border-radius: 5ch;
  }
  .post{
    background-color: rebeccapurple;
    border-radius: 5ch;
    float: left;
    height: 25%;
    width: 50%;

    text-align: center;
    position: relative;
  }
  .post:hover {
    transform: scale(1.03);
    color: rgb(131, 3, 3);
  }

  p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    
    position: relative;
    top: 40%;
    -ms-transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%);
  }
  .blurb{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
  }
  .heading {
    font-family: 'Courier New', Courier, monospace;
    transition: .5s;
    margin: auto;
  }
  .headingjp {
   /* font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;*/
    transition: .5s;
    margin: auto;
  }
  .heading:hover {
    transform: scale(1.03);
    color: rgb(131, 3, 3);
  }
  .headingjp:hover {
    transform: scale(1.05);
    color: rgb(131, 3, 3);
  }