@import "defnblock.css";
body {
    background-color: rgb(224, 224, 208);
    place-items: center;
  }
  a{
    text-decoration: none;
    color: black;
  }
  a:hover{
    color:maroon
  }
  .top-bar{
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding: 0;
    border-bottom: 2px solid black;
  }
  .top-bar p.left{
    font-family: Poppins;
    width: 50%;
    font-weight: 700;
    font-size: small;
    text-align: left;
    margin-bottom: 0;
    margin-top: .75em;
  }
  .top-bar p.right{
    font-family: Poppins;
    width: 50%;
    font-weight: 700;
    font-size: small;
    text-align: right;
    margin-bottom: 0;
    margin-top: .75em;
  }
  .top-bar hr{
    border: none;
    border-top: 2px solid black;
  }

  h2 {
    color: black;
    font-size: 3vh;
  }

  h3 {
    font-family: Poppins;
    color: black;
  }

  .buffer{
    height: 4em;
  }

  .post-con{
    height: 50em;
    background-color: red;
    opacity: 50%;
    width: 80%;
    margin: auto;
    border-radius: 5ch;
  }
  .post{
    font-family: Poppins;
    font-weight: 400;
    line-height: 1.15;
    width: 10em;
    padding-left: .25em;
    padding-right: .25em;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 0;
  }
  .resumes{
    padding: 1em;
    line-height: 2;
    text-align: center;
    border-bottom: 2px solid black;
  }
  p {
    font-family: 'Varela', Courier, monospace;
    font-size: 20px;
    
    position: relative;
    top: 40%;
    -ms-transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%);
  }
  .blurb{

    font-size: 20px;
  }
  .heading {
    width: 100%;
    transition: .5s;
    margin-top: 3em;
    padding-top: 1em;
    line-height: 1;
    text-align: left;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
  .heading h1{
    font-family: Poppins;
    font-weight: 800;
    margin-top: 15px;
    margin-left: 10px;
    color: black;
    font-size: 5vh;
  }
  .heading h2{
    font-family: Poppins;
    font-weight: 800;
    margin-left: 10px;
  }
  .namep{
    padding-top: 0;
  }
  #about{
    margin: 1em;
    padding: 1em;
  }
  .about-sub{
    font-family: Poppins;
    font-weight: 400;
    margin-left: 5%;
    margin-top: -3%;
    line-height: 1.15;
  }
  .left-span{
    float: right;
  }
  .top-main-block p{
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .top-main-block hr{
    border: none;
    border-top: 2px solid black;
    margin: 0;
  }
  p.contact{
    font-family: Poppins;
    font-weight: 400;
    margin-left: 5%;
    line-height: 1.15;
  }
  h3.proj-head{
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.15;
    margin-left: 5%;
  }
  h3.proj-subhead{
    font-family: Poppins;
    font-weight: 400;
    line-height: 1.15;
    margin-top: -3%;
    margin-left: 7%;
    margin-bottom: auto;
  }
  p.proj-text{
    font-family: Poppins;
    text-align: justify;
    vertical-align: text-top;
    font-weight: 300;
    margin-left: 10%;
    margin-right: 5%;
    margin-top:75px;
    line-height: 1.15;
  }
  p.pers-text{
    font-family: Poppins;
    text-align: justify;
    vertical-align: text-top;
    font-weight: 300;
    margin-left: 10%;
    margin-right: 5%;
    margin-top:45px;
    line-height: 1.15;
  }